* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex;
  background-color: hsl(216, 12%, 8%);
  top: 25%;
  width: 450px;
  height: 45vh;
}

main {
  @include flex;
  position: fixed;
  top: 25%;
  width: 450px;
  height: 45vh;
  border-radius: 25px;
  background-color: hsl(214, 21%, 16%);
}

// Star
.star_container {
  position: absolute;
  top: 40px;
  left: 30px;
  border: 15px solid hsl(213, 19%, 20%);
  border-radius: 90px;
}

// Text
.text_container {
  padding: 1.5rem;
  width: 100%;

  h1 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    position: relative;
    bottom: 30px;
  }

  p {
    font-size: 1rem;
    color: hsl(217, 12%, 63%);
    position: relative;
    bottom: 20px;
  }
}

.rating_container {
  @include flex;
  flex-direction: row;

  input[type="radio"] {
  }
}

.button_container {
  display: flex;
  justify-content: center;

  .submit {
    position: relative;
    top: 60px;
    font-size: 16px;
    width: 80%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: hsl(25, 97%, 53%);
  }
}

//   Footer
footer {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: white;
  font-size: 0.6rem;

  a {
    color: hsl(25, 97%, 53%);
  }
}
